<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.h5tchibook.alert.dao.CommentAlertDAO">
 	
 	<insert id="insertCommentAlert" parameterType="com.h5tchibook.alert.model.CommentAlert">
 		INSERT INTO
 			`commentAlert`
 		(
 			`alertId`
 			,`commentId`
 			,`postId`
 			,`createdAt`
 		)
 		VALUES
 		(
 			#{alertId}
 			,#{commentId}
 			,#{postId}
 			,NOW()
 		)
 	</insert>
 	
 	<delete id="deleteCommentAlertByCommentId" parameterType="int">
 		DELETE FROM
 			`commentAlert`
 		WHERE
 			`commentId`=#{commentId}
 	</delete>
 	
 	<delete id="deleteCommentAlertByPostId" parameterType="int">
 		DELETE FROM
 			`commentAlert`
 		WHERE
 			`postId`=#{postId}
 	</delete>
 	
 	<select id="selectCommentAlertByPostId" parameterType="int" resultType="com.h5tchibook.alert.model.CommentAlert">
 		SELECT 
 			`id`
 			,`alertId`
 			,`commentId`
 			,`postId`
 			,`createdAt`
 		FROM
 			`commentAlert`
 		WHERE
 			`postId`=#{postId}
 	</select>
 	
 	<select id="selectCommentAlertByCommentId" parameterType="int" resultType="com.h5tchibook.alert.model.CommentAlert">
 		SELECT 
 			`id`
 			,`alertId`
 			,`commentId`
 			,`postId`
 			,`createdAt`
 		FROM
 			`commentAlert`
 		WHERE
 			`commentId`=#{commentId}
 	</select>
 	
 	<select id="selectCommentAlertByAlertId" parameterType="int" resultType="com.h5tchibook.alert.model.CommentAlert">
 		SELECT 
 			`id`
 			,`alertId`
 			,`commentId`
 			,`postId`
 			,`createdAt`
 		FROM
 			`commentAlert`
 		WHERE
 			`alertId`=#{alertId}
 	</select>
 	
 </mapper>