<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.h5tchibook.group.dao.GroupMemberDAO">
 	<insert id="insertGroupMember" parameterType="com.h5tchibook.group.model.GroupMember">
 		INSERT INTO 
 			`groupMember`
 		(
 			`groupId`
 			,`groupMemberId`
 			,`createdAt`
		)
		VALUES
		(
			#{groupId}
			,#{groupMemberId}
			,NOW()
		) 		
 	</insert>
 	
 	<delete id="deleteGroupMemberByGroupIdAndGroupMemberId" parameterType="map">
 		DELETE FROM
 			`groupMember`
 		WHERE
 			`groupId`=#{groupId}
 		AND
 			`groupMemberId`=#{groupMemberId}
 	</delete>
 	
 	<delete id="deleteGroupMemberByGroupId" parameterType="int">
 		DELETE FROM
 			`groupMember`
 		WHERE
 			`groupId`=#{groupId}
 	</delete>
 	
 	<select id="selectGroupMemberByGroupIdAndGroupMeberId" parameterType="map" resultType="com.h5tchibook.group.model.GroupMember">
 		SELECT
 			`id`
 			,`groupId`
 			,`groupMemberId`
 			,`createdAt`
 		FROM
 			`groupMember`
 		WHERE
 			`groupId`=#{groupId}
 		AND
 			`groupMemberId`=#{groupMemberId}
 	</select>
 	
 	<select id="selectGroupMemberCountByGroupId" parameterType="int" resultType="int">
 		SELECT
 			COUNT(*)
 		FROM
 			`groupMember`
 		WHERE 
 			`groupId`=#{groupId}
 	</select>
 	
 	<select id="selectGroupMemberListByGroupMemberId" parameterType="int" resultType="com.h5tchibook.group.model.GroupMember">
 		SELECT
 			`id`
 			,`groupId`
 			,`groupMemberId`
 			,`createdAt`
 		FROM
 			`groupMember`
 		WHERE
 			`groupMemberId`=#{groupMemberId}
 	</select>
 	
 	<select id="selectGroupMemberListByGroupId" parameterType="map" resultType="com.h5tchibook.group.model.GroupMember">
 		SELECT
 			`id`
 			,`groupId`
 			,`groupMemberId`
 			,`createdAt`
 		FROM
 			`groupMember`
 		WHERE
 			`groupId`=#{groupId}
 		<if test="limit!=null">
 		LIMIT ${limit}
 		</if>
 	</select>
 	
 	
 </mapper>