<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.h5tchibook.post.dao.UserPostDAO">
 	<insert id="insertUserPost" parameterType="com.h5tchibook.post.model.Post" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 			`post`
 			(	
 			`userId`
 			,`content`
 			,`contentType`
 			,`contentPath`
 			,`disclosureStatus`
 			,`createdAt`
 			,`updatedAt`
 			)
 		VALUES
 			(
 			#{userId}
 			,#{content}
 			,#{contentType}
 			,#{contentPath}
 			,#{disclosureStatus}
 			,NOW()
 			,NOW()
 			)
 	</insert>
 	
 	<select id="selectPostById" parameterType="int" resultType="com.h5tchibook.post.model.Post">
 		SELECT
 			`id`
 			,`userId`
 			,`content`
 			,`contentType`
 			,`contentPath`
 			,`disclosureStatus`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`post`
 		WHERE 
 			`id`=#{id}
 	</select>
 	
 	<select id="selectPostListByUserId" parameterType="map" resultType="com.h5tchibook.post.model.Post">
 		SELECT
 			`id`
 			,`userId`
 			,`content`
 			,`contentType`
 			,`contentPath`
 			,`disclosureStatus`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`post`
 		WHERE 
 			`userId`=#{userId}
 		AND
 			`disclosureStatus` IN
 			<if test="disclosureStatus == 'public'">
 				('public')
 			</if>
 			<if test="disclosureStatus == 'friend'">
 				('public','friend')
 			</if>
 			<if test="disclosureStatus == 'private'">
 				('public','private','friend')
 			</if>
 		ORDER BY
 			`id`
 		DESC
 	</select>
 	
 	<select id="selectPostListOnlyPhotoByUserId" parameterType="map" resultType="com.h5tchibook.post.model.Post">
 		SELECT
 			`id`
 			,`userId`
 			,`content`
 			,`contentType`
 			,`contentPath`
 			,`disclosureStatus`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`post`
 		WHERE 
 			`userId`=#{userId}
 		AND 
 			`contentType`='photo'
 		AND
 			`disclosureStatus` IN
 			<if test="disclosureStatus == 'public'">
 				('public')
 			</if>
 			<if test="disclosureStatus == 'friend'">
 				('public','friend')
 			</if>
 			<if test="disclosureStatus == 'private'">
 				('public','friend','private')
 			</if>
 		ORDER BY
 			`id` 
 		DESC
 		<if test="limit != null">
 		LIMIT ${limit}
 		</if>
 	</select>
 	
 	<select id="selectPostByPostIdList" parameterType="java.util.List" resultType="com.h5tchibook.post.model.Post">
 		SELECT
 			`id`
 			,`userId`
 			,`content`
 			,`contentType`
 			,`contentPath`
 			,`disclosureStatus`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`post`
 		WHERE 
 			`id` IN
 			<foreach collection="postIdList" item="postId" open="(" close=")" separator=",">
 				#{postId}
 			</foreach>
 		AND
 			disclosureStatus IN ('public','friend')
 		ORDER BY
 		`id`
 		DESC
 	</select>
 	
 	
 </mapper>