<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.h5tchibook.user.dao.UserDAO">
 
 	<insert id="insertUser" parameterType="com.h5tchibook.user.model.User">
 		INSERT INTO
 			`user`
 			(
 			`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`createdAt`
 			,`updatedAt`
 			)
 			VALUES
 			(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{sex}
 			,NOW()
 			,NOW()
 			)
 	</insert>
 	
 	<update id="updateUserProfileImagePath" parameterType="map">
 		UPDATE 
 			`user`
 		SET
 			`profileImagePath`=#{profileImagePath, jdbcType=VARCHAR}
 		WHERE
 			`id`=#{id}
 	</update>
 	
 	<update id="updateUserCoverImagePath" parameterType="map">
 		UPDATE 
 			`user`
 		SET
 			`coverImagePath`=#{coverImagePath, jdbcType=VARCHAR}
 		WHERE
 			`id`=#{id}
 	</update>
 	
 	<update id="updateUserIntroduce" parameterType="map">
 		UPDATE
 			`user`
 		SET
 			`introduce`=#{introduce ,jdbcType=VARCHAR}
 		WHERE
 			`id`=#{id}
 	</update>

 	<select id="selectUserByloginId" parameterType="String" resultType="com.h5tchibook.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`profileImagePath`
 			,`coverImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE 
 			`loginId`=#{loginId}
 	</select>
 	
 	<select id="selectUserByLoginIdAndPassword" parameterType="map" resultType="com.h5tchibook.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`profileImagePath`
 			,`coverImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE 
 			`loginId`=#{loginId}
 		AND
 			`password`=#{password}
 	</select>
 	
 	<select id="selectUserById" parameterType="int" resultType="com.h5tchibook.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`profileImagePath`
 			,`coverImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE 
 			`id`=#{id}
 	</select>

 </mapper>