<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.h5tchibook.user.dao.UserDAO">
 
 	<insert id="insertUser" parameterType="com.h5tchibook.user.model.User">
 		INSERT INTO
 			`user`
 			(
 			`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`createdAt`
 			,`updatedAt`
 			)
 			VALUES
 			(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{sex}
 			,NOW()
 			,NOW()
 			)
 	</insert>
 	
 	<update id="updateUserProfileImagePath" parameterType="map">
 		UPDATE 
 			`user`
 		SET
 			`updatedAt`=NOW()
 			,`profileImagePath`=#{profileImagePath, jdbcType=VARCHAR}
 		WHERE
 			`id`=#{id}
 	</update>
 	
 	<update id="updateUserCoverImagePath" parameterType="map">
 		UPDATE 
 			`user`
 		SET
 			`updatedAt`=NOW()
 			,`coverImagePath`=#{coverImagePath, jdbcType=VARCHAR}
 		WHERE
 			`id`=#{id}
 	</update>
 	
 	<update id="updateUserIntroduce" parameterType="map">
 		UPDATE
 			`user`
 		SET
 			`updatedAt`=NOW()
 			,`introduce`=#{introduce ,jdbcType=VARCHAR}
 		WHERE
 			`id`=#{id}
 	</update>
	
	<update id="updateUserInfo" parameterType="com.h5tchibook.user.model.User">
		UPDATE
			`user`
		SET
			`updatedAt`=NOW()
		<if test="loginId!=null">
			,`loginId`=#{loginId}
		</if>
		<if test="password!=null">
			,`password`=#{password}
		</if>
		<if test="sex!=null">
			,`sex`=#{sex}
		</if>
		WHERE
			`id`=#{id}
	</update>
	
 	<select id="selectUserByloginId" parameterType="String" resultType="com.h5tchibook.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`profileImagePath`
 			,`coverImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE 
 			`loginId`=#{loginId}
 	</select>
 	
 	<select id="selectUserByLoginIdAndPassword" parameterType="map" resultType="com.h5tchibook.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`profileImagePath`
 			,`coverImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE 
 			`loginId`=#{loginId}
 		AND
 			`password`=#{password}
 	</select>
 	
 	<select id="selectUserById" parameterType="int" resultType="com.h5tchibook.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`profileImagePath`
 			,`coverImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE 
 			`id`=#{id}
 	</select>
 	
 	<select id="selectUserListByIdList" parameterType="java.util.List" resultType="com.h5tchibook.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`sex`
 			,`profileImagePath`
 			,`coverImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE 
 			`id` IN
 			<foreach collection="idList"  open="(" close=")" item="id" separator=",">
 				#{id}
 			</foreach>
 	</select>
 </mapper>