@charset "UTF-8";

body{
	background-color:#f0f2f5;
}

hr{
	margin-bottom:0px;
}

.section-display{
	display:none;
}

.disabled-scroll{
	overflow:hidden;
}

.modal-window{
	width:100%;
	height:100%;
	position:fixed;
	z-index: 1;
}

header{
	height:50px;
	position:fixed;
	background-color:white;
	border-bottom:1px solid #dbdbdb;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:5;
}

.header-section .logo-box{
	width:435px;
}

.header-section .logo{
	width:38px;
	height:38px;
	margin-left:30px;	
	margin-right:30px;
}

.header-section .section-nav-box{
	width:435px;
	display:flex;
	justify-content:space-between;
}

.header-section .nav-bar-link{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:35px;
	color:#65676b;
	height:80px;
	width:200px;
}

.header-section .nav-bar-link:hover{
	text-decoration:none;
}

.header-section .nav-bar-in-use{
	margin-top:16px;
	border-bottom:3px solid #18abfe;
	color:#18abfe;
	height:50px;
	text-decoration:none;
}

.header-section .user-nav-box{
	width:435px;
	display:flex;
	margin-right:30px;
	justify-content:flex-end;
	align-items:center;
}

.header-section .nav-profile-box{
	padding:5px;
	padding-right:10px;
	border-radius:20px;
	cursor:pointer;
}

.header-section .nav-profile-box-in-use{
	padding:5px;
	border-radius:20px;
	padding-right:10px;
	cursor:pointer;
	background-color:#dff4ff;
}

.header-section .nav-profile-box:hover , .nav-profile-box-in-use:hover{
	background-color:#dbdbdb;
}

.header-section .nav-profile{
	width:30px;
	height:30px;
	border-radius:100%;
}

.header-section  .nav-profile-name{
	font-size:13px;
	font-weight:700;
	margin-left:10px;
}

.header-section .nav-profile-name-in-use{
	font-size:13px;
	font-weight:700;
	margin-left:10px;
	color:#18abfe;
}

.header-section .nav-alert-btn-box, .nav-menu-btn-box{
	height:50px;
	display:flex;
	align-items:center;
}

.header-section .nav-alert-btn , .nav-menu-btn{
	margin-left:20px;
	border:none;
	outline:none;
	border-radius:100%;
	cursor:pointer;
	width:35px;
	height:35px;
}

.header-section .nav-alert-btn:hover, .nav-menu-btn:hover{
	background-color:#b1b1b1;
}

.header-section .nav-alert-btn:focus, .nav-menu-btn:focus{
	outline:none;
	border:none;
}

.header-section .nav-alert-modal{
	position:absolute;
	right:80px;
	top:45px;
	border-radius:5px;
	background-color:white;
	border:1px solid #dbdbdb;
	width:440px;
	height:200px;
	box-shadow:2px 2px 3px 2px #dbdbdb;
	z-index:5;
	overflow-y:scroll; 
}

.nav-alert-modal .nav-alert-item{
	display:flex;
	align-items:center;
	font-size:13px;
	margin-left:15px;
	margin-top:15px;
}

.nav-alert-item .alert-user-link{
	margin-right:5px;
	margin-left:5px;
	color:black;
	font-weight:700;
}

.nav-alert-modal .alert-profile{
	border-radius:100%;
	width:50px;
	height:50px;
}

.nav-alert-item .request-accept-btn {
	background-color:#18abfe;
	color:white;
}

.nav-alert-item .request-accept-btn , .request-delete-btn{
	margin-left:10px;
	height:30px;
	display:flex;
	align-items: center;
}

.header-section .nav-menu-modal{
	position:absolute;
	right:30px;
	top:45px;
	border-radius:5px;
	background-color:white;
	border:1px solid #dbdbdb;
	width:300px;
	height:230px;
	box-shadow:2px 2px 3px 2px #dbdbdb;
	z-index:5;
	padding:6px;
}

.nav-menu-modal .nav-menu-hr{
	margin-top:5px;
}

.nav-menu-modal .menu-profile-box{
	height:80px;
	display:flex;
	align-items:center;
	border-radius:10px;
	cursor: pointer;
}

.nav-menu-modal .menu-profile-box:hover{
	background-color:#e8e8e8;
}

.menu-profile-box .menu-profile{
	border-radius:100%;
	margin-left:10px;
	width:65px;
	height:65px;
}

.menu-profile-box .menu-profile-item{
	margin-left:10px;
}

.menu-profile-box .menu-profile-name{
	margin-bottom:0px;
	font-weight:700;
}

.menu-profile-box .menu-profile-description{
	margin-bottom:0px;
	color:#adadad
}

.nav-menu-modal .menu-item{
	height:50px;
	margin-top:10px;
	border-radius:10px;
	display:flex;
	align-items:center;
	cursor:pointer;
}

.nav-menu-modal .menu-item:hover{
	background-color:#e8e8e8;
}

.nav-menu-modal .menu-item-setting{
	border:none;
	outline:none;
	background-color:#dbdbdb;
	width:35px;
	height:35px;
	font-size:25px;
	border-radius:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:10px;
}

.nav-menu-modal .menu-item-description{
	margin-left:20px;	
}

.sign-in-section{
	width:100%;
	height:800px;
	display:flex;
	justify-content:center;
}

.sign-in-section .title{
	width:600px;
	height:600px;
	margin-top:130px;
	margin-right:150px;
	display:flex;
	align-items:center;
}

.sign-in-section .sign-in-form{
	width:600px;
	height:600px;
	margin-top:130px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.sign-in-section .title .logo{
	width:300px;
}

.sign-in-section .title-item{
	margin-bottom:100px;
}

.sign-in-section .logo-description{
	font-size:28px;
	margin-top:20px;

}

.sign-in-form .form-box{
	width:400px;
	padding-bottom:20px;
	background-color:white;
	border-radius:10px;
	display:flex;
	justify-content:center;
	box-shadow:5px 8px 20px grey;

}

.sign-in-form #userLoginId{
	margin-top:25px;
}

.sign-in-form .sign-in-input{
	margin-top:10px;
	height:50px;
	border-radius:10px;
	width:350px;
	font-size:16px;
}

.sign-in-form .sign-in-alert-box{
	display:flex;
	justify-content:center;
	margin-top:10px;
}

.sign-in-form .check-alert{
	font-size:15px;
}

.sign-in-form .sign-in-btn{
	background-color:#1877f2;
	color:white;
	margin-top:10px;
	width:350px;
	height:45px;
	font-size:18px;
	font-weight:700;
}

.sign-in-form .find-password-link{
	display:block;
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	font-weight:700;
}

.sign-in-form .form-btn-box{
	display:flex;
	justify-content:center;
}

.sign-in-form .sign-up-form-btn{
	color:white;
	background-color:#34b21b; 
	font-size:18px;
	font-weight:700;
	height:45px;
	margin-top:23px;
}

.sign-up-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.sign-up-modal-section .sign-up-modal-box{
	width:430px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;
	padding:20px;
}

.sign-up-modal-section .sign-up-title{
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.sign-up-title h3{
	font-weight:700;
}

.sign-up-title .close-sign-up-section{
	font-size:30px;
	font-weight:700;
	cursor: pointer;
}

.sign-up-modal-box .sign-up-description{
	font-size:15px;
	color:#737373;
}

.sign-up-modal-section .name-form{
	display:flex;
	justify-content:space-between;
}

.sign-up-modal-section .name-form input{
	width:190px;
}

.sign-up-modal-section input{
	margin-top:10px;
	height:45px;
}

.sign-up-modal-section .sex-title{
	margin-top:13px;
	margin-bottom:5px;
}

.sign-up-modal-section .sex-radio-box{
	display:flex;
	justify-content:space-between;
}

.sign-up-modal-section .sex-radio-box .sex-item{
	border:1px solid #dbdbdb;
	border-radius:8px;
	width:190px;
	height:40px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.sign-up-modal-section .validation-text{
	color:red;
	font-size:13px;
}

.sex-radio-box .sex-item label{
	margin-left:15px;
	margin-bottom:0px;
	width:130px;
}

.sex-radio-box .sex-item input{
	margin-top:0px;
	margin-right:15px;
	width:20px;
}

.sign-up-modal-section .sign-up-btn-box{
	display:flex;
	justify-content:center;
}

.sign-up-modal-section .sign-up-btn{
	color:white;
	background-color:#34b21b; 
	font-size:16px;
	font-weight:700;
	height:35px;
	width:250px;
	margin-top:23px;
}

.user-feed-section{
	height:1000px;
}

.user-feed-section .user-profile-box{
	background-color:white;
	border-bottom:1px solid #dbdbdb;
	height:610px;
}

.user-feed-section .user-profile-background{
	width:940px;
	height:450px;
	margin:auto;
	display:flex;
	align-items:flex-end;
	justify-content:center;
	position:relative;
}

.user-feed-section .profile-background{
	width:100%;
	height:100%;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.user-feed-section .img-box{
	width:180px;
	height:180px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	border-radius:100%;
	border:2px solid #dbdbdb;
	position:absolute;
	top:295px;
}

.user-feed-section .img-box img{
	border-radius:100%;
	border:1px solid #dbdbdb;
	width:170px;
	height:170px;
	cursor:pointer;
}

.user-feed-section .profile-img-edit-btn{
	border:none;
	outline:none;
	width:35px;
	height:35px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:100%;
	position:absolute;
	cursor:pointer;
	right:380px;
	top:420px;
}

.user-feed-section .profile-background-edit-btn{
	font-size:13px;
	border:none;
	outline:none;
	height:30px;
	width:160px;
	border-radius:5px;
	font-weight:700;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	position:absolute;
	right:30px;
	bottom:15px;
}

.profile-background-edit-btn span{
	margin-top:3px;
	margin-right:10px;
	font-size:20px;
}

.user-feed-section .profile-introduce-box{
	width:920px;
	height:70px;
	margin:auto;
	margin-top:30px;
}

.user-feed-section .profile-user-id{
	text-align:center;
}

.user-feed-section .add-introduce-btn{
	display:block;
	margin:auto;
	color:#1877f2;
	font-weight:900;
	font-size:14px;
	border:none;
	outline:none;
	cursor:pointer;
	background-color:rgba(0,0,0,0);
}

.user-feed-section .user-introduce{
	display:block;
	text-align:center;
	margin:auto;
	font-size:14px;
	border:none;
	outline:none;
}

.user-feed-section .profile-nav-box{
	width:920px;
	height:50px;
	margin:auto;
	margin-top:10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.profile-nav-box .item-link{
 	margin-left:20px;
 	font-size:15px;
 	font-weight:700;
 	color:#999999;
 	padding:13px;
 	
}

.profile-nav-box .item-link-in-use{
	margin-left:20px;
 	font-size:15px;
 	font-weight:700;
 	padding:13px;
	color:#1877f2;
	border-bottom:3px solid #1877f2;
	text-decoration:none;
}

.profile-nav-box .item-link:hover{
	text-decoration:none;
}

.profile-nav-box .item-link:focus{
	color:#1877f2;
	border-bottom:3px solid #1877f2;
	text-decoration:none;
}

.profile-nav-box .edit-profile-btn{
	width:160px;
	height:30px;
	border:none;
	outline:none;
	font-weight:700;
	background-color:#cecece;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	cursor:pointer;
	padding-left:15px;
	padding-right:15px;	
}

.profile-nav-box .request-friend-btn{
	height:30px;
	border:none;
	width:140px;
	outline:none;
	font-weight:700;
	background-color:#1877f2;
	color:white;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
	
}

.profile-nav-box .progress-friend-btn{
	width:180px;
	height:30px;
	border:none;
	outline:none;
	font-weight:700;
	background-color:#cecece;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
}

.profile-nav-box .friend-btn{
	width:100px;
	height:30px;
	border:none;
	outline:none;
	font-weight:700;
	background-color:#dfecfd;
	color:#1877f2;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left:18px;
	padding-right:18px;
	cursor:pointer;
}

.profile-nav-box .response-friend-btn{
	width:140px;
	height:30px;
	border:none;
	outline:none;
	font-weight:700;
	background-color:#cecece;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left:20px;
	padding-right:20px;
	cursor:pointer;
}

.user-feed-section .user-contents-section{
	width:950px;
	margin:auto;
	display:flex;
}

.user-contents-section .contents-info-section{
	width:400px;
	padding-top:20px;
	position: -webkit-sticky;
 	position: sticky;
 	top:50px;
}

.contents-info-section .content-photo-box{
	width:370px;
	height:430px;
	background-color:white;
	margin:auto;
	border-radius:10px;
	border:1px solid #dbdbdb;
	padding:10px;
	
}

.content-photo-box .photo-box-title{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:10px;
}

.photo-box-title h5{
	font-weight:700;
}

.photo-box-title a{
	font-size:14px;
	font-weight:700;
}

.photo-box-title a:hover{
	text-decoration:none;
}

.content-photo-box .content-photo-item-section{
	margin-top:10px;
}

.content-photo-item-section .photo-item-row{
	display:flex;
	align-items:center;
	margin:auto;
}

.content-photo-item-section .photo-item-box{
	padding:2px;
}

.content-photo-item-section .photo-item{
	width:110px;
	height:110px;
}

.contents-info-section .content-friend-box{
	width:370px;
	height:520px;
	background-color:white;
	margin:auto;
	border-radius:10px;
	margin-top:20px;
	border:1px solid #dbdbdb;
	padding:10px;
}

.content-friend-box .friend-box-title{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-top:10px;
}

.friend-box-title .title{
	font-weight:700;
}

.friend-box-title a{
	font-size:14px;
	font-weight:700;
}

.content-friend-box .content-friend-item-section{
	margin-top:10px;
}

.content-friend-item-section .friend-item-row{
	display:flex;
	align-items:center;
	margin:auto;
}

.friend-item-row .friend-item-box{
	padding:8px;
}

.friend-item-row .friend-item-box a{
	font-size:13px;
	font-weight:700;
	color:black;
}

.friend-item-row .friend-item-box img{
	border-radius:15px;
	width:100px;
	height:100px;
}

.user-contents-section .contents-timeline-section{
	width:550px;
	height:1000px;
}

.contents-timeline-section .create-post-section{
	background-color:white;
	height:130px;
	margin-top:20px;
	border-radius:10px;
	border:1px solid #dbdbdb;
	padding:20px;
}

.create-post-section .create-post-box{
	display:flex;
	align-items:center;
	justify-content:center;
}

.create-post-box .profile-img{
	border-radius:100%;
	width:40px;
	height:40px;
}

.create-post-box .create-post-modal-btn{
	height:40px;
	width:480px;
	text-align:left;
	font-weight:700;
	padding-left:20px;
	border:none;
	outline:none;
	border-radius:30px;
	margin-left:10px;
	cursor:pointer;
}

.create-post-box .create-post-modal-btn:active{
	background-color:#b8b8b8;
}

.create-post-section .create-post-photo-btn span{
	color:#34b21b;
	margin-right:10px;
}

.create-post-section .create-post-btn-box {
	display:flex;
	justify-content:flex-end;
	width:495px;
	margin-top:5px;
}

.create-post-section .create-post-photo-btn{
	margin-top:10px;
	outline:none;
	border:none;
	color:#909090;
	font-weight:700;
	background-color:rgba(0,0,0,0);	
	display:flex;
	align-items:center;
	cursor:pointer;
}

.contents-timeline-section .post-box{
	margin-top:20px;
	border-radius:10px;
	border:1px solid #dbdbdb;
	background-color:white;
}

.post-box .post-profile-box{
	padding:20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.post-box .post-profile-box .profile-item{
	display:flex;
	align-items:center;
}

.profile-item .disclosure-status{
	border:none;
	outline:none;
	font-size:14px;
	background-color:rgba(0,0,0,0);
	color:#dbdbdb;
	cursor:pointer;
}

.post-profile-box .profile-menu-btn{
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	color:#a6a6a6;
	cursor:pointer;
}

.post-box .post-profile-box img{
	width:40px;
	height:40px;
	border-radius:100%;
}

.post-box .post-profile-box a{
	color:black;
	font-weight:700;
	margin-left:10px;
}

.post-box .post-content-section{
	margin-left:20px;
}

.post-box .post-img-section img{
	width:548px;
	margin-top:10px;
}

.post-box .post-like-btn{
	margin-top:10px;
	margin-left:10px;
	display:flex;
	font-size:15px;
	align-items:center;
	background-color: rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
}

.post-box .post-like-btn span{
	color:#1877f2;
	font-size:15px;
	margin-right:10px;
}

.post-box .like-before-btn , .post-comment-btn{
	display:flex;
	align-items:center;
	background-color:rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
}

.post-box .like-after-btn{
	display:flex;
	align-items:center;
	background-color:rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
	color:#007bff;
}

.post-box .like-before-btn:focus , .post-comment-btn:focus{
	outline:none;
	border:none;	
}

.post-box .like-before-btn span , .like-after-btn span , .post-comment-btn span{
	margin-right:10px;
}

.post-box .post-btn-box{
	padding-left:20px;
	padding-right:20px;
	margin-top:10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.post-comment-box .post-comment-item{
	margin-top:10px;
	display:flex;
	align-items:center;
}

.post-comment-box .post-comment{
	background-color:#dbdbdb;
	padding:5px;
	padding-left:8px;
	padding-right:8px;
	border-radius:10px;
}

.post-comment-box .post-comment-item img{
	width:50px;
	height:50px;
	border-radius:100%;
	margin-top:10px;
	margin-left:20px;
	margin-right:10px;
}

.post-comment-box .post-comment-item a{
	color:black;
	font-weight:700;
	font-size:14px;
}

.post-comment-box .post-comment-item div{
	font-size:14px;
}

.post-comment-item .comment-menu-btn{
	font-size:15px;
	outline:none;
	border:none;
	background-color:rgba(0,0,0,0);
	cursor:pointer;
}

.post-box .create-comment-box{
	padding:20px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.post-box .create-comment-box input {
	height:40px;
	width:405px;
	border-radius:20px;
	background-color:#dbdbdb;
}

.post-box .create-comment-box img{
	width:50px;
	height:50px;
	border-radius:100%;
}

.post-box .create-comment-box .comment-create-btn{
	outline:none;
	border:none;
	background-color:rgba(0,0,0,0);
	font-size:13px;
	color:#1877f2;
	cursor: pointer;
	font-weight:700;
	margin:0px;
}

.post-box .more-comment{
	background-color: rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
	margin-top:10px;
	margin-left:20px;
	color:#979797;
	font-weight:700;
}

.timeline-section{
	width:100%;
	display:flex;
}

.timeline-section .timeline-info-section{
	width:360px;
	height:100%;
	position:fixed;
	top:50px;
	padding:20px;
	background-color:white;
	border-right:1px solid #dbdbdb; 
}

.timeline-info-section .timeline-user-profile{
	border-radius:10px;
	width:320px;
	height:80px;
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:10px;
}

.timeline-info-section .timeline-user-profile:hover{
	background-color:#dbdbdb;
	border-radius:10px;
}

.timeline-info-section .timeline-user-profile span{
	font-weight:700;
	margin-left:20px;
}

.timeline-info-section .timeline-info-profile-img{
	border-radius:100%;
	width:60px;
	height:60px;
}

.timeline-info-section .timeline-info-menu{
	border-radius:10px;
	width:320px;
	height:60px;
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:10px;
}

.timeline-info-section .timeline-info-menu:hover{
	background-color:#dbdbdb;
	border-radius:10px;
}

.timeline-info-section .timeline-info-menu span:nth-child(1){
	font-size:35px;
	color:#1877f2;
}

.timeline-info-section .timeline-info-menu span:nth-child(2){
	font-size:16px;
	margin-left:20px;
}

.timeline-section .timeline-post-section{
	width:550px;
	margin:auto;
	padding-top:45px;
}

.timeline-info-section .timeline-group-box{
	height:55%;
}

.timeline-info-section .timeline-group-item{
	border-radius:10px;
	width:320px;
	height:80px;
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:10px;
}

.timeline-info-section .timeline-group-item:hover{
	background-color:#dbdbdb;
	border-radius:10px;
}

.timeline-info-section .my-shortcuts-title{
	font-weight:700;
	margin-top:20px;
	color:#555555;
}

.timeline-info-section .timeline-group-profile-img{
	border-radius:10px;
	width:60px;
	height:60px;
}

.timeline-info-section .timeline-group-item span{
	font-size:16px;
	margin-left:20px;
	font-weight:700;
}

.contents-group-timeline-section{
	width:550px;
	height:1000px;
}

.contents-group-timeline-section .create-group-post-section{
	background-color:white;
	height:130px;
	margin-top:20px;
	border-radius:10px;
	border:1px solid #dbdbdb;
	padding:20px;
}

.create-group-post-section .create-group-post-box{
	display:flex;
	align-items:center;
	justify-content:center;
}

.create-group-post-box .profile-img{
	border-radius:100%;
	width:40px;
	height:40px;
}

.create-group-post-box .create-group-post-modal-btn{
	height:40px;
	width:480px;
	text-align:left;
	font-weight:700;
	padding-left:20px;
	border:none;
	outline:none;
	border-radius:30px;
	margin-left:10px;
	cursor:pointer;
}

.create-group-post-box .create-group-post-modal-btn:active{
	background-color:#b8b8b8;
}

.create-group-post-section .create-group-post-photo-btn span{
	color:#34b21b;
	margin-right:10px;
}

.create-group-post-section .create-group-post-btn-box {
	display:flex;
	justify-content:flex-end;
	width:495px;
	margin-top:5px;
}

.create-group-post-section .create-group-post-photo-btn{
	margin-top:10px;
	outline:none;
	border:none;
	color:#909090;
	font-weight:700;
	background-color:rgba(0,0,0,0);	
	display:flex;
	align-items:center;
	cursor:pointer;
}

.contents-group-timeline-section .group-post-box{
	margin-top:20px;
	border-radius:10px;
	border:1px solid #dbdbdb;
	background-color:white;
}

.group-post-box .group-post-profile-box{
	padding:20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.group-post-box .group-post-profile-box .group-profile-item{
	display:flex;
	align-items:center;
}

.group-post-box .group-post-menu-btn{
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	color:#a6a6a6;
	cursor:pointer;
}

.group-post-box .group-post-profile-box img{
	width:40px;
	height:40px;
	border-radius:10px;
}

.group-post-box .group-post-profile-box a{
	color:black;
	font-weight:700;
	margin-left:10px;
	display:block;
}

.group-post-box .group-post-profile-box .group-user-id{
	color:#7c7c7c;
	font-size:13px;
	font-weight:500;
}

.group-post-box .group-post-profile-box .group-user-id:hover{
	text-decoration:none;
}

.group-post-box .group-post-content-section{
	margin-left:20px;
}

.group-post-box .group-post-img-section img{
	width:548px;
	margin-top:10px;
}

.group-post-box .group-post-like-btn{
	margin-top:10px;
	margin-left:10px;
	display:flex;
	align-items:center;
	background-color:rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
}

.group-post-box .group-post-like-btn span{
	color:#1877f2;
	margin-right:10px;
}

.group-post-box .group-like-before-btn , .group-post-comment-btn{
	display:flex;
	align-items:center;
	background-color:rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
}

.group-post-box .group-like-after-btn{
	display:flex;
	align-items:center;
	background-color:rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
	color:#007bff;
}

.group-post-box .group-like-before-btn:focus , .group-post-comment-btn:focus{
	outline:none;
	border:none;	
}

.group-post-box .group-like-before-btn span , .group-like-after-btn span , .group-post-comment-btn span{
	margin-right:10px;
}

.group-post-box .group-post-btn-box{
	padding-left:20px;
	padding-right:20px;
	margin-top:10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.group-post-comment-box .group-post-comment-item{
	display:flex;
	align-items:center;
}

.group-post-comment-box .group-post-comment{
	background-color:#dbdbdb;
	padding:5px;
	padding-left:8px;
	padding-right:8px;
	border-radius:10px;
}

.group-post-comment-box .group-post-comment-item img{
	width:50px;
	height:50px;
	border-radius:100%;
	margin-top:10px;
	margin-left:20px;
	margin-right:10px;
}

.group-post-comment-box .group-post-comment-item a{
	color:black;
	font-weight:700;
	font-size:14px;
}

.group-post-comment-box .group-post-comment-item div{
	font-size:14px;
}

.group-post-comment-item .group-comment-menu-btn{
	font-size:15px;
	outline:none;
	border:none;
	background-color:rgba(0,0,0,0);
	cursor:pointer;
}
.group-post-comment-box{
	margin-top:10px;
}

.group-post-box .group-create-comment-box{
	padding:20px;
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.group-post-box .group-create-comment-box input {
	height:40px;
	width:405px;
	border-radius:20px;
	background-color:#dbdbdb;
}

.group-post-box .group-create-comment-box img{
	width:50px;
	height:50px;
	border-radius:100%;
}

.group-post-box .group-create-comment-box .group-comment-create-btn{
	outline:none;
	border:none;
	background-color:rgba(0,0,0,0);
	font-size: 13px;
	color:#1877f2;
	cursor:pointer;
	font-weight:700;
	margin:0px;
}

.group-post-box .group-more-comment{
	background-color:rgba(0,0,0,0);
	border:none;
	outline:none;
	cursor:pointer;
	margin-top:10px;
	margin-left:20px;
	color:#979797;
	font-weight:700;
}

footer{
	display:flex;
	justify-content:center;
}

footer .footer-item{
	font-size:13px; 
	color:#979797; 
	margin-top:30px; 
	margin-bottom:30px;
}

.group-timeline-info-section{
	width:360px;
	height:100%;
	position:fixed;
	top:50px;
	padding:20px;
	background-color:white;
	border-right:1px solid #dbdbdb; 
}

.group-timeline-info-section .group-timeline-user-profile{
	border-radius:10px;
	width:320px;
	height:80px;
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:10px;
}

.group-timeline-info-section .group-timeline-user-profile:hover{
	background-color:#dbdbdb;
	border-radius:10px;
}

.group-timeline-info-section .group-timeline-user-profile span{
	font-weight:700;
	margin-left:20px;
}

.group-timeline-info-section .group-timeline-info-profile-img{
	border-radius:100%;
	width:60px;
	height:60px;
}

.group-timeline-info-section .group-timeline-info-menu{
	border-radius:10px;
	width:320px;
	height:60px;
	cursor:pointer;
	display: flex;
	align-items:center;
	padding:10px;
}

.group-timeline-info-section .group-timeline-info-menu:hover{
	background-color:#dbdbdb;
	border-radius:10px;
}

.group-timeline-info-section .group-timeline-info-menu span:nth-child(1){
	font-size:35px;
	color:#1877f2;
}

.group-timeline-info-section .group-timeline-info-menu span:nth-child(2){
	font-size:16px;
	margin-left:20px;
}

.group-timeline-info-section .create-new-group{
	border-radius:10px;
	width:320px;
	height:40px;
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:10px;
	border-radius:10px;
	background-color:#dbdbdb;
	display:flex;
	justify-content:center;
	align-items:center;
	font-weight:700;
	color:#1877f2;
	background-color:#c9defc;
	margin-top:10px;
}

.group-timeline-info-section .create-new-group span:nth-child(1){
	font-size:30px;
	margin-bottom:5px;
}

.timeline-section .group-timeline-post-section{
	width:550px;
	margin:auto;
	padding-top:45px;
}

.group-timeline-info-section .group-timeline-group-box{
	height:55%;
}

.group-timeline-info-section .group-timeline-group-item{
	border-radius:10px;
	width:320px;
	height:80px;
	cursor:pointer;
	display: flex;
	align-items:center;
	padding:10px;
}

.group-timeline-info-section .group-timeline-group-item:hover{
	background-color:#dbdbdb;
	border-radius: 10px;
}

.group-timeline-info-section .my-shortcuts-title{
	font-weight:700;
	margin-top:20px;
	color:#555555;
}

.group-timeline-info-section .group-timeline-group-profile-img{
	border-radius:10px;
	width:60px;
	height:60px;
}

.group-timeline-info-section .group-timeline-group-item span{
	font-size:16px;
	margin-left:20px;
	font-weight:700;
}

.create-group-input-section{
	width:360px;
	height:100%;
	position:fixed;
	top:50px;
	padding:20px;
	background-color:white;
	border-right:1px solid #dbdbdb; 
}

.create-group-input-section h4{
	font-weight:700;
}

.create-group-input-section .group-master-box{
	padding-top:20px;
	display:flex;
	align-items:center;
}

.create-group-input-section .group-master-box img{
	width:50px;
	height:50px;
	border-radius:100%;
}

.create-group-input-section .group-master-box span{
	display:block;
	margin-left:20px;
}

.group-master-box .user-id{
	font-weight:700;
}
.group-master-box .user-role{
	color:#747474;
	font-size:13px;
}

.create-group-input-section .group-name-input{
	margin-top:20px;
	height:50px;	
}

.create-group-input-section .create-group-btn{
	font-weight:700;
	width:100%;
	background-color:#1877f2;
	color:white;
	margin-top:20px;
}

.group-feed-section{
	height:1000px;
}

.group-feed-section .group-profile-box{
	background-color:white;
	border-bottom:1px solid #dbdbdb;
	height:610px;
}

.group-feed-section .group-profile-background{
	width:940px;
	height:450px;
	margin:auto;
	display:flex;
	align-items:flex-end;
	justify-content:center;
	position: relative;
}

.group-feed-section .group-background{
	width:100%;
	height:100%;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}

.group-feed-section .img-box{
	width:180px;
	height:180px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	border-radius:100%;
	border:2px solid #dbdbdb;
	position:absolute;
	top:295px;
}

.group-feed-section .img-box img{
	border-radius:100%;
	border:1px solid #dbdbdb;
	width:170px;
	height:170px;
	cursor:pointer;
}

.group-feed-section .profile-img-edit-btn{
	border:none;
	outline:none;
	width:35px;
	height:35px;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:100%;
	position:absolute;
	cursor:pointer;
	right:380px;
	top:420px;
}

.group-feed-section .background-edit-btn{
	font-size:13px;
	border:none;
	outline:none;
	height:30px;
	width:160px;
	border-radius:5px;
	font-weight:700;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	position:absolute;
	right:30px;
	bottom:15px;
}

.background-edit-btn span{
	margin-top:3px;
	margin-right:10px;
	font-size:20px;
}

.group-feed-section .group-introduce-box{
	width:920px;
	height:70px;
	margin:auto;
	margin-top:30px;
}

.group-feed-section .group-id{
	font-weight:700;
}

.group-feed-section .group-member-count{
	display:block;
	margin:auto;
	color:#6f6f6f;
	font-size:16px;
	border:none;
	outline:none;
}

.group-feed-section .profile-nav-box{
	width:920px;
	height:50px;
	margin:auto;
	margin-top:10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.profile-nav-box .item-link{
 	margin-left:20px;
 	font-size:15px;
 	font-weight:700;
 	color:#999999;
 	padding:13px;
}

.profile-nav-box .item-link:hover{
	text-decoration:none;
}

.profile-nav-box .item-link:focus{
	color:#1877f2;
	border-bottom:3px solid #1877f2;
	text-decoration:none;
}

.profile-nav-box .join-group-btn{
	height:30px;
	border:none;
	outline:none;
	font-weight:500;
	background-color:#1877f2;
	color:white;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	padding-left:20px;
	padding-right:20px;
}

.profile-nav-box .edit-group-btn{
	height:30px;
	border:none;
	outline:none;
	font-weight:500;
	background-color:#dbdbdb;
	color:black;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	padding-left:20px;
	padding-right:20px;
}

.profile-nav-box .progress-join-group-btn{
	height:30px;
	border:none;
	outline:none;
	font-weight:500;
	background-color:#dbdbdb;
	color:black;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	padding-left:20px;
	padding-right:20px;
}

.profile-nav-box .edit-group-join-btn{
	height:30px;
	border:none;
	outline:none;
	font-weight:500;
	background-color:#dbdbdb;
	color:black;
	border-radius:10px;
	display:flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	padding-left:20px;
	padding-right:20px;
}


.profile-nav-box .join-group-btn span{
	margin-right:10px;
}

.group-feed-section .group-contents-section{
	width:950px;
	margin:auto;
	display:flex;
}

.group-contents-section .contents-info-section{
	width:400px;	
	height:1100px;
	padding-top:20px;
	position:sticky;
	top:50px;
}

.contents-info-section .content-photo-box{
	width:370px;
	height:430px;
	background-color:white;
	margin:auto;
	border-radius:10px;
	border:1px solid #dbdbdb;
	padding:10px;
}

.content-photo-box .photo-box-title{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:10px;
}

.photo-box-title h5{
	font-weight:700;
}

.photo-box-title a{
	font-size:14px;
	font-weight:700;
}

.photo-box-title a:hover{
	text-decoration:none;
}

.content-photo-box .content-photo-item-section{
	margin-top:10px;
}

.content-photo-item-section .photo-item-row{
	display:flex;
	align-items:center;
	margin:auto;
}

.content-photo-item-section .photo-item-box{
	padding:2px;
}

.content-photo-item-section .photo-item{
	width:110px;
	height:110px;
}

.contents-info-section .content-friend-box{
	width:370px;
	height:520px;
	background-color:white;
	margin:auto;
	border-radius:10px;
	margin-top:20px;
	border:1px solid #dbdbdb;
	padding:10px;
}

.content-friend-box .friend-box-title{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-top:10px;
}

.friend-box-title .title{
	font-weight:700;
}

.friend-box-title a{
	font-size:14px;
	font-weight:700;
}

.content-friend-box .content-friend-item-section{
	margin-top:10px;
}

.content-friend-item-section .friend-item-row{
	display:flex;
	align-items:center;
	margin:auto;
}

.friend-item-row .friend-item-box{
	padding:8px;
}

.friend-item-row .friend-item-box a{
	font-size:13px;
	font-weight:700;
	color:black;
}

.friend-item-row .friend-item-box img{
	border-radius:15px;
	width:100px;
	height:100px;
}

.delete-comment-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}
.modal-title{
	padding:20px;
	height:50px;
	font-weight:700;
}
.delete-comment-modal-section .delete-comment-modal-box{
	width:330px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}
.delete-comment-modal-box div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.delete-comment-modal-box button{
	outline: none;
	border: none;
	font-size:16px;
	padding:15px;
	width:100%;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}

.create-post-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.create-post-modal-section .create-post-modal-box{
 	width:430px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;
	padding:20px;
}

.create-post-modal-box .modal-title-box{
	display:flex;
	justify-content:space-between;
}

.create-post-modal-box .modal-title-box h4{
	font-weight:700;
}

.create-post-modal-box .post-modal-close-btn{
 	border-radius:100%;
 	border:none;
 	outline:none;
 	font-size:25px;
 	width:30px;
 	height:30px;
 	font-weight:700;
 	display:flex;
 	justify-content:center;
 	align-items:center;
 	cursor:pointer;
}
 
.create-post-modal-box .create-post-profile-box{
 	padding:10px;
 	display:flex;
 	align-items:center;
}
 
.create-post-modal-box .create-post-select-box{
 	margin-left:10px;
}
 
.create-post-modal-box .create-post-select-box span{
 	font-weight:700;
}
 
#disclosureStatus{
 	font-size:10px;
 	padding:0px;
 	width:70px;
 	height:20px;
 	background-color:#dbdbdb;
 	font-weight:700;
}
 
.disclosure-option{
 	font-size:10px;
 	padding:0px;
 	width:70px;
 	height:20px;
 	background-color:#dbdbdb;
 	font-weight:700;
}
 
.create-post-modal-box .create-post-profile-box span{
	display:block;
}

.create-post-modal-box .create-post-profile-box img{
 	width:60px;
 	height:60px;
 	border-radius:100%;
}

.create-post-modal-box .delete-img-btn{
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:100%;
	width:20px;
	height:20px;
	font-size:15px;
	border:none;
	outline:none;
	cursor:pointer;
	position:absolute;
	right:30px;
	top:160px;
}

.create-post-modal-box .delete-img-btn:hover{
	background-color:#797979;
}

.create-post-modal-box .create-post-img{
	width:390px;
}

.create-post-modal-box .create-text-form{
	padding-top:10px;
	margin-bottom:10px;
	resize:none;
	border:none;
	outline:none;
}

.create-post-modal-box .create-user-post-btn{
	width:100%;
	font-weight:700;
	color:white;
	background-color:#1877f2;
}

.create-post-modal-box .add-photo-box{
	width:100%;
	height:60px;
	border:1px solid #dbdbdb;
	border-radius:10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:20px;
	margin-bottom:10px;
}

.create-post-modal-box .add-photo-box div{
	font-size:20px;
	font-weight:700;
}

.create-post-modal-box .load-post-photo-btn{
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	display:flex;
	align-items:center;
	font-weight:700;
	cursor:pointer;
}

.create-post-modal-box .load-post-photo-btn span{
	color:#34b21b;
	font-size:28px;
	margin-right:5px;
}

.user-photo-section{
	width:940px;
	margin:auto;
	margin-top:20px;
	background-color: white;
	border:1px solid #dbdbdb;
	border-radius: 15px;
	padding:20px;
}

.user-photo-section .feed-title{
	font-weight:700;
}

.user-photo-section .feed-photo-row{
	display: flex;
}

.user-photo-section .feed-photo-item{
	padding:8px;	
	cursor:pointer;
}

.user-photo-section .feed-photo-item img{
	width:164px;
	height:164px;
	border-radius:10px;
}

.user-friend-section{
	width:940px;
	margin:auto;
	margin-top:20px;
	background-color: white;
	border:1px solid #dbdbdb;
	border-radius: 15px;
	padding:20px;
}

.user-friend-section .feed-title{
	font-weight:700;
}

.user-friend-section .feed-friend-row{
	display: flex;
}

.user-friend-section .feed-friend-item{	
	border:1px solid #dbdbdb;
	border-radius:10px;
	cursor:pointer;
	margin:10px;
}

.user-friend-section .feed-friend-item img{
	width:164px;
	height:164px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:1px solid #dbdbdb;
}

.user-friend-section .friend-login-id{
	color:black;
	font-weight:700;
	display: flex;
	align-items: center;
	padding:10px;

}

.user-friend-section .friend-info-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.user-friend-section .friend-menu-btn{
	font-size:15px;
	padding:10px;
}

.delete-friend-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.delete-friend-modal-section .delete-friend-modal-box{
	width:330px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}

.delete-friend-modal-box div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete-friend-modal-box button{
	outline: none;
	border: none;
	font-size:16px;
	padding:15px;
	width:100%;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}

.request-friend-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.request-friend-modal-section .request-friend-modal-box{
	width:330px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}

.request-friend-modal-box div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.request-friend-modal-box button{
	outline: none;
	border: none;
	font-size:16px;
	padding:15px;
	width:100%;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}

.response-friend-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.response-friend-modal-section .response-friend-modal-box{
	width:330px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}

.response-friend-modal-box div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.response-friend-modal-box button{
	outline: none;
	border: none;
	font-size:16px;
	padding:15px;
	width:100%;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}

.user-profile-box .profile-pic-modal{
	position:absolute;
	right:256px;
	top:455px;
	box-shadow:2px 2px 3px 2px #dbdbdb;
	border-radius:10px;
	background-color:white;
	border:1px solid #dbdbdb;
	width:160px;
	height:50px;
	z-index:5;
}

.profile-pic-modal .profile-pic-item{
	display:flex;
	width:inherit;
	height:inherit;
	align-items:center;
	justify-content:center;
	font-size:13px;
}

.profile-pic-modal .profile-pic-item button{
	outline:none;
	height:inherit;
	width:inherit;
	padding-left:35px;
	padding-right:35px;
	border:none;
	font-size:14px;
	font-weight:700;
	background-color:rgba(0,0,0,0);
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor:pointer;
}

.profile-pic-modal .profile-pic-item button:hover{
	background-color: #dbdbdb;
}

.edit-profile-pic-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.edit-profile-pic-modal-section .modal-title{
	display:flex;
	justify-content:center;
	margin-bottom:10px;
	width:332px;
}

.edit-profile-pic-modal-section .edit-profile-pic-modal-box{
	width:400px;
	height:500px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}

.edit-profile-pic-modal-section .edit-profile-item-section{
	display: flex;
	justify-content: center;
	cursor:pointer;
}

.edit-profile-pic-modal-section .edit-profile-item{
	border:1px solid #dbdbdb;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width:305px;
	height:305px;
	margin-top:20px;
}

.edit-profile-pic-modal-section .edit-profile-img{
	width:300px;
	height:300px;
	border-radius: 100%;
}

.edit-profile-pic-modal-section .edit-btn-box{
	display: flex;
	justify-content: center;
}


.edit-profile-pic-modal-section button{
	width:80%;
	margin-top:10px;
	height:40px;
	border-radius: 10px;
	outline: none;
	border:none;
	cursor:pointer;
}

.edit-profile-pic-modal-section .change-basic-img{
	border:1px solid #dbdbdb;
}

.edit-profile-pic-modal-section .addapt-profile-img{
	background-color:#18abfe;
	color:white;
}

.edit-profile-pic-modal-section .title-box{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.edit-profile-pic-modal-section .profile-modal-close-btn{
	margin-right:15px;
	cursor:pointer;
}

.edit-profile-background-section{
	height:60px;
	width:100%;
	position: fixed;
	top:50px;
	z-index:5;
	background-color: rgba(0,0,0,0.5) ;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.edit-profile-background-section button{
	border:none;
	outline:none;
	border-radius:10px;
	height:35px;
	margin:5px;
}

.edit-profile-background-section .change-background-img-btn-box{
	display: flex;
	align-items: center;
	margin-right:20px;
}

.edit-profile-background-section .basic-background-img-btn-box{
	margin-left:20px;
}

.edit-profile-background-section .basic-background-img-btn-box button{
	padding-left:20px;
	padding-right:20px;
}

.change-background-img-btn-box span{
	color:white;
	padding:20px;
	cursor:pointer;
}

.change-background-img-btn-box .change-background-action-btn{
	color:white;
	background-color:#18abfe;
}

.edit-profile-introduce-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.edit-profile-introduce-modal-section .title-box{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.edit-profile-introduce-modal-section .modal-title{
	display:flex;
	justify-content:center;
	margin-bottom:10px;
	width:332px;
}

.edit-profile-introduce-modal-section .edit-profile-introduce-modal-box{
	width:400px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}

.edit-profile-introduce-modal-section .introduce-modal-close-btn{
	margin-right:15px;
	cursor:pointer;
}

.edit-profile-introduce-modal-section .introduce-textarea-box{
	display:flex;
	justify-content:center;
	padding:20px;
}

.edit-profile-introduce-modal-section textarea{
	outline: none;
	border:1px solid #dbdbdb;
	border-radius: 10px;
	resize:none;
}


.edit-profile-introduce-modal-section .introduce-btn-box{
	width:inherit;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}

.edit-profile-introduce-modal-section .introduce-submit-btn{
	width:100%;
	background-color:#18abfe;
	color:white;
	cursor:pointer;
}

.user-check-password-section{
	width:100%;
	height:947px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.user-check-password-section .user-check-password-box{
	width:400px;
	border:1px solid #dbdbdb;
	background-color:white;
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
}

.user-check-password-section img{
	width:200px;
	height:200px;
	border-radius:100%;
}

.user-check-password-section .box-title{
	padding-top:15px;
	padding-bottom:15px;
	font-size:20px;
	font-weight:700;
	display:flex;
	justify-content:center;
}

.user-check-password-section .user-profile-img-box{
	display:flex;
	justify-content:center;
	margin-top:40px;
}

.user-check-password-section .user-profile-img-item{
	width:210px;
	height:210px;
	border:1px solid #dbdbdb;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.user-check-password-section .password-input-box{
	margin-top:20px;
}

.user-check-password-section .password-input-box input{
	height:45px;
	border-radius: 10px;
}

.user-check-password-section .input-title{
	width:inherit;
	padding:10px;
	padding-top:0;
	font-weight:700;
}
.user-check-password-section .profile-password-submit-btn{
	width:100%;
	height:45px;
	color:white;
	background-color:#18abfe;
	margin-top:10px;
	margin-bottom:25px;
	border-radius:10px;
}

.user-check-password-section .password-alert-box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-check-password-section .password-alert-box span{
	margin-top:10px;
}

.edit-user-info-section{
	width:600px;
	height:950px;
	margin:auto;
	padding-top:50px;
	display: flex;
	align-items: center;
}

.edit-user-info-section .edit-user-info-box{
	width:600px;
	border-radius: 20px;
	padding:20px;
	border:1px solid #dbdbdb;
	background-color: white;
}

.edit-user-info-section .section-title{
	font-weight:700;
	text-align:center;
}

.edit-user-info-section .user-img-box{
	height:250px;
	display:flex;
	justify-content:center;
	align-items: flex-end;
}

.edit-user-info-section .user-img-item{
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid #dbdbdb;
	border-radius: 100%;
	width:210px;
	height:210px;
}

.edit-user-info-section .edit-user-info-profile-img{
	border-radius:100%;
	width:200px;
	height:200px;
}

.edit-user-info-section .user-login-id{
	text-align: center;
	margin-top:20px;
}

.edit-user-info-section .input-title{
	font-weight:700;
	margin-top:10px;
}

.edit-user-info-section .radio-items{
	display: flex;
	justify-content: center;
	align-items:center;
	background-color:#dbdbdb;
	padding:10px;
	border-radius: 10px;
	margin-top:10px;
}

.edit-user-info-section .radio-items label{
	font-size:18px;
	width:100px;
}

.edit-user-info-section .sex-item{
	display: flex;
	align-items: center;
}

#editFemale , #editMale{
	width:20px;
	height:20px;
}

#editInfoUserLoginId ,#editPassword{
	height:45px;
	border-radius: 10px; 
}

.edit-user-info-section .edit-user-info-btn{
	width:100%;
	height:50px;
	border-radius: 10px;
	color:white;
	margin-top:20px;
	background-color: #18abfe;
	font-weight:700;
}



.create-group-post-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.create-group-post-modal-section .create-group-post-modal-box{
 	width:430px;
 	height:460px;
 	overflow-y:scroll;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;
	padding:20px;
}

.create-group-post-modal-box .modal-title-box{
	display:flex;
	justify-content:space-between;
}

.create-group-post-modal-box .modal-title-box h4{
	font-weight:700;
}

.create-group-post-modal-box .group-post-modal-close-btn{
 	border-radius:100%;
 	border:none;
 	outline:none;
 	font-size:25px;
 	width:30px;
 	height:30px;
 	font-weight:700;
 	display:flex;
 	justify-content:center;
 	align-items:center;
 	cursor:pointer;
}
 
.create-group-post-modal-box .create-group-post-profile-box{
 	padding:10px;
 	display:flex;
 	align-items:center;
}
 
.create-group-post-modal-box .create-group-post-select-box{
 	margin-left:10px;
}
 
.create-group-post-modal-box .create-group-post-select-box span{
 	font-weight:700;
}
 

.create-group-post-modal-box .create-group-post-profile-box span{
	display:block;
}

.create-group-post-modal-box .create-group-post-profile-box img{
 	width:60px;
 	height:60px;
 	border-radius:100%;
}

.create-group-post-modal-box .delete-group-img-btn{
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:100%;
	width:20px;
	height:20px;
	font-size:15px;
	border:none;
	outline:none;
	cursor:pointer;
	position:absolute;
	right:30px;
	top:160px;
}

.create-group-post-modal-box .delete-group-img-btn:hover{
	background-color:#797979;
}

.create-group-post-modal-box .create-group-post-img{
	width:390px;
}

.create-group-post-modal-box .create-group-text-form{
	padding-top:10px;
	margin-bottom:10px;
	resize:none;
	border:none;
	outline:none;
}

.create-group-post-modal-box .create-group-post-btn{
	width:100%;
	font-weight:700;
	color:white;
	background-color:#1877f2;
}

.create-group-post-modal-box .add-group-photo-box{
	width:100%;
	height:60px;
	border:1px solid #dbdbdb;
	border-radius:10px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:20px;
	margin-bottom:10px;
}

.create-group-post-modal-box .add-group-photo-box div{
	font-size:20px;
	font-weight:700;
}

.create-group-post-modal-box .load-group-post-photo-btn{
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	display:flex;
	align-items:center;
	font-weight:700;
	cursor:pointer;
}

.create-group-post-modal-box .load-group-post-photo-btn span{
	color:#34b21b;
	font-size:28px;
	margin-right:5px;
}

.delete-group-comment-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.delete-group-comment-modal-section .delete-group-comment-modal-box{
	width:330px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}
.delete-group-comment-modal-box div{
	display: flex;
	justify-content: center;
	align-items: center;
}
.delete-group-comment-modal-box button{
	outline: none;
	border: none;
	font-size:16px;
	padding:15px;
	width:100%;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}

.group-feed-member-section{
	width:940px;
	margin:auto;
	margin-top:20px;
	background-color: white;
	border:1px solid #dbdbdb;
	border-radius: 15px;
	padding:20px;
}

.group-feed-member-section .feed-title{
	font-weight:700;
}

.group-feed-member-section .feed-member-row{
	display: flex;
}

.group-feed-member-section .group-feed-member-item{	
	border:1px solid #dbdbdb;
	border-radius:10px;
	cursor:pointer;
	margin:10px;
}

.group-feed-member-section .group-feed-member-item img{
	width:164px;
	height:164px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom:1px solid #dbdbdb;
}

.group-feed-member-section .member-login-id{
	color:black;
	font-weight:700;
	display: flex;
	align-items: center;
	padding:10px;

}

.group-feed-member-section .member-info-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.group-feed-member-section .group-member-menu-btn{
	font-size:15px;
	padding:10px;
}

.secession-group-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.secession-group-modal-section .secession-group-modal-box{
	width:330px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}

.secession-group-modal-box div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.secession-group-modal-box button{
	outline: none;
	border: none;
	font-size:16px;
	padding:15px;
	width:100%;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}

.request-join-group-cancel-modal-section{
	width:100%; 
	height:100%;
	background:rgba(0,0,0,0.5);
	position:fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0 auto;
	left:0;
	right:0;
	z-index:3;
}

.request-join-group-cancel-modal-section .request-join-group-cancel-modal-box{
	width:330px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index:2;

}

.request-join-group-cancel-modal-box div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.request-join-group-cancel-modal-box button{
	outline: none;
	border: none;
	font-size:16px;
	padding:15px;
	width:100%;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}

.group-photo-section{
	width:940px;
	margin:auto;
	margin-top:20px;
	background-color: white;
	border:1px solid #dbdbdb;
	border-radius: 15px;
	padding:20px;
}

.group-photo-section .feed-title{
	font-weight:700;
}

.group-photo-section .group-photo-row{
	display: flex;
}

.group-photo-section .group-photo-item{
	padding:8px;	
	cursor:pointer;
}

.group-photo-section .group-photo-item img{
	width:164px;
	height:164px;
	border-radius:10px;
}
